/.idea
/.svn
/*.iml
/commons/*.iml
/commons/target
/data_parser/*.iml
/data_parser/target
/gameserver/target
/gameserver/*.iml
/gameserver/dist/log
/gameserver/dist/*.log
/gameserver/dist/data/generated/*.java
/loginserver/dist/log
/loginserver/target
/loginserver/*.iml
/nasc/nasc-loader/target
/nasc/nasc-loader/*.iml
/nasc/target
/nasc/*.iml
/nasc/win/generated-grammar
/nasc/win/jni-include
/nasc/win/target
/nasc/win/*.iml
/nasc/win/target
/*
